#carousel {overflow: hidden; position:absolute;}
#carPrev, #carNext {
	background: url("../images/carouselArrow.png");
	width:71px;
	height:71px;
	position: absolute;
	top:45%;
	z-index:2;
	opacity: 0;
}
#carPrev {
	left:20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#carNext {
	right:20px;
}
.moviesList { list-style: none; 
	img {padding-left:20px; height:250px;}
	}