@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

#contentArea { padding-top:100px; }
#carousel {overflow: hidden;}

.box { @include border-radius(10px); }
.f6repBg { background:#F6F6F6; }
.searchBG { background:#A7CF5E; }
.searchBoxBrdr { border-left: #D6D6D6 2px solid; border-top: #D6D6D6 2px solid; border-bottom: #D6D6D6 2px solid; }
.crsrPntr { cursor: pointer; }
.moviesList { list-style: none; 
	img {padding-left:20px; height:250px;}
	}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  color:black;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  color:black;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}