$mobileSmallWidth: 480px;
$mobileSmallHeight: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin phonePortrait {
  @media screen and (max-width: #{$mobileSmallWidth}){
    @content;
  }
}

@mixin phoneLandscape {
  @media screen and (max-width: #{$mobileSmallHeight}){
    @content;
  }
}

@mixin notPhone {
  @media screen and (min-width: #{$mobileSmallWidth}){
    @content;
  }  
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}){
    @content;
  }
}

