.p0 {padding: 0;}
.p5{padding: 5px;}
.p10 {padding: 10px;}
.p12 {padding: 12px;}
.p20 {padding: 20px;}

.pr0 {padding-right: 0;}
.pl30 {padding-left: 30px;}

.m0 {margin: 0;}
.m10 {margin: 10px;}
.m20 {margin: 20px;}
.balance { margin-left: auto; margin-right:auto; }

.line {display:block; clear:both;}
.unit {float: left;}
.unitRt {float: right;}
.flexUnit {display: table-cell; float: none; width: auto;}

.dInline {display:inline;}
.dBlock {display:block;}
.dTableCell {display: table-cell;}

.brdr0 {border:0;}
.brdrRt0 {border-right:0;}