@import 'mobileResponsiveSetup';
@import 'size';
@import 'font';
@import 'spacing';
@import 'mainPageFussy';

html {
	font-size: 12px;
	@include desktop {
		font-size: 16px;
	}
}

body {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  background: url('../images/backdrop.png');
  background-size:100%;
  overflow:hidden;
}

#backdrop {
	background: black;
	opacity: .83;
	z-index:0;
	position:absolute;
}
#content, #firstDialogId {
	z-index:1;
	opacity: .99;
}

#carPrev, #carNext {
	background: url("../images/carouselArrow.png");
	width:72px;
	height:72px;
	position: absolute;
	top:45%;
}
#carPrev {
	left:20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#carNext {
	right:20px;
}